body {
    margin: 0;
}

.header {
    width: 100%;
    background-color: #03AED2;
    height: 100px;
    position: fixed;
}

.cs-logo {
    width: 100px;
}

.footer {
    background-color: #FEEFAD;
    height: 200px;
}