<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Your services assistant{% endblock %}</title>
        <link rel="icon" href="img/logo/cs-favicon.png">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <header class="header">
            <div><img src="img/logo/cs-logo.png" alt="cs-logo.png" class="cs-logo"></div>
            <div>ComService</div>
        </header>
        {% block body %}{% endblock %}
    </body>
</html>
